@page
@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@model startApp.UserProfileModel
@{
}

<form method = "post">

    <div class = "main">
        <div class = "userInfo">
			<div class="user-info">
				<div><img src="@Model.user.picture" class="profilna"></div>
				<div>@Model.user.name @Model.user.surname</div>
            </div>
            <div class="button-wrapper">
                <button class="btn btn-primary menu-btn" asp-page="./EditUser" asp-route-id="@Model.user.id">Izmeni profil</button>
                <button class="btn btn-primary menu-btn" asp-page-handler="LogOut">Odjavi se</button>
                <button class="btn btn-primary menu-btn" asp-page="AddMobilni" asp-route-id="@Model.user.id">Dodaj oglas</button>
            </div>
        </div>       
           <div class="tab">
               <div class = "tabButtons">
                   <div class="tablinks" id="defaultOpen" onclick="openTab(event, 'mojiMobilni')">Moji mobilni</div>
                   <div class="tablinks" onclick="openTab(event, 'Omiljeni')">Omiljeni mobilni</div>
                <div class="tablinks" onclick="openTab(event, 'Poruke')">Zahtevi</div>
                <div class="tablinks" onclick="openTab(event, 'PredstojeciDogadjaji')">Dogadjaji</div>
                <div class="tablinks" onclick="openTab(event, 'ZaZamenu')">Zamena</div>
                @if(Model.user.admin==true)
                {
                    <div class = "tablinks" onclick="openTab(event, 'ZaPrihvatanje')">Za prihvatanje</div> 
                }
               </div>

                <div id="mojiMobilni" class="tabcontent" >
                    <div id="myDIV">
                    <div id = " content" class="content">
                        @if(@Model.user.oglasi.Count == 0)
                        {
                            <div>
                                Nemate nijedan telefon.
                            </div>
                        }
                        else
                        {
                            @foreach (var oglas in @Model.user.oglasi)
                            {
                            <div class = "ad">
                                <div class = "oneMob">
                                    <div class = "mobPicture" style="width:200px !important;"><img src ="@oglas.picture1"></div>
                                    <div class = "mobInfo">
                                        <div>@oglas.mojMobilni.brand | @oglas.mojMobilni.model</div>
                                        <div>@oglas.price €</div>      
                                    </div>
                                    @if(oglas.prihvacen == false)
                                    {
                                        <p style="width: 210px; margin-left:10px;color:gray;">Ovaj oglas jos nije prihvacen od strane admina.</p>
                                    }
                                </div>
                                
                                <div class = "buttons">
                                    <button class="btn btn-primary" type = "submit" asp-page="./ViewMobilni" asp-route-id="@oglas.id">Pogledaj</button>
                                    <button class="btn btn-primary" type = "submit" asp-page="./Edit" asp-route-id="@oglas.id">Izmeni</button>
                                    <button class="btn btn-primary" type = "submit" asp-route-id="@oglas.id" asp-page-handler="Delete">Obrisi</button>
                                </div>
                            </div> 
                            }
                        }  
                    </div>
                </div>
                </div>

                <div id="Poruke" class="tabcontent">
                    <div id="myDIV">
                    <div id = " content" class="content">
                    <div class = "userMessages">
                            @if(@Model.user.primljeniZahtevi.Count == 0)
                            {
                                <div>
                                    Niste primili nijedan zahtev.
                                </div>
                            }
                            else
                            {
                                @foreach (var request in @Model.user.primljeniZahtevi)
                                {
                                     <div class = "ad">
                                    <div class = "oneMob">
                                            <div class = "mobPicture" style="width:200px !important;"><img src ="@request.oglas.picture1"></div>
                                            <div class = "mobInfo">
                                                <div>Pošiljalac: @request.sender.name</div>
                                                <div>Datum: @request.date.Day/ @request.date.Month/ @request.date.Year</div>
                                                <div>Vreme: @request.time.Hour: @request.time.Minute h</div>
                                                <div>Za telefon: @request.oglas.mojMobilni.brand @request.oglas.mojMobilni.model</div>
                                            </div>
                                    </div>
                                    
                                    <div class = "buttons">
                                       <button class="btn btn-primary" asp-page-handler="Accept" asp-route-id = "@request.id">Prihvati</button>
                                        <button class="btn btn-primary" asp-page-handler="Decline" asp-route-id="@request.id">Odbij</button>
                                    </div>
                                </div>
                                }
                            }
                </div>
            </div>
            </div>
            </div>

            <div id="Omiljeni" class="tabcontent">
                <div id="myDIV">
                    <div id = " content" class="content">
                        @if(@Model.user.favorites.Count == 0)
                        {
                            <div>
                                Nemate nijedan oglas u omiljenim oglasima.
                            </div>
                        }
                        else
                        {
                            @foreach (var favorite in @Model.user.favorites)
                            {
                                <div class = "ad">
                                    <div class = "oneMob">
                                            <div class = "mobPicture" style="width:200px !important;"><img src ="@favorite.oglas.picture1"></div>
                                            <div class = "mobInfo">
                                                <div>@favorite.oglas.mojMobilni.brand @favorite.oglas.mojMobilni.model</div>
                                                <div>@favorite.oglas.price €</div>
                                        </div>
                                    </div>
                                    
                                    <div class = "buttons">
                                        <button class="btn btn-primary" type = "submit" asp-page="./ViewMobilni" asp-route-id="@favorite.oglas.id">Pogledaj</button>
                                        <button class="btn btn-primary" type="submit" asp-route-id="@favorite.oglas.id" asp-page-handler="Izbaci">Izbaci</button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
               
            <div id="PredstojeciDogadjaji" class="tabcontent">
                <div id="myDIV">
                    <div id = " content" class="content">
                        <div class = "twoCol">
                            <div class = "pola">
                            @if(@Model.odgovoriGdePokazujem.Count == 0)
                            {
                                <div>Nemate nijedan dogadjaj na kom pokazujete svoj mobilni.</div>
                            }
                            else
                            {
                            <div>Sastanci na kojima vi pokazujete svoj mobilni:</div>
                                @foreach(var response in @Model.odgovoriGdePokazujem)
                                {
                                     <div class = "oneMessage">
                                            Pokazujete @response.request.oglas.mojMobilni.brand @response.request.oglas.mojMobilni.model, 
                                            dana @response.request.date.Day/ @response.request.date.Month/ @response.request.date.Year u @response.request.time.Hour: @response.request.time.Minute,
                                            na adresi @response.request.sender.address.
                                    </div>
                                }
                            }
                            </div>
                            <div class = "pola">
                            @if(@Model.user.primljeniOdgovori.Count == 0)
                            {
                                <div>Nemate nijedan predstojeci sastanak za razgledanje mobilnog.</div>
                            }
                            else
                            {
                            <div>Sastanci na kojima vi razgledate mobilne:</div>
                                @foreach(var response in @Model.user.primljeniOdgovori)
                                {
                                    <div class = "oneMessage">
                                            Razgledate  @response.request.oglas.mojMobilni.brand @response.request.oglas.mojMobilni.model, 
                                            dana @response.request.date.Day/ @response.request.date.Month/ @response.request.date.Year u @response.request.time.Hour: @response.request.time.Minute,
                                            na adresi @response.request.sender.address. Za vise informacija mozete se obratiti na broj @response.request.sender.brojTelefona.
                                    </div>
                                }
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ZaZamenu" class="tabcontent">
                <div id="myDIV">
                    <div id = " content" class="content">
                   
                        <div>Moj mobilni - zeljeni mobilni</div>
                        @foreach (var o in Model.user.oglasi)
                        {
                            List<Classes.Oglas> parnjakZaZamenu=null;
                            @if(o.zeljeniMobilni!=null)
                            {
                                parnjakZaZamenu=Model.VratiParnjakZaZamenu(o);
                                @if(parnjakZaZamenu!=null)
                                {
                                    foreach (var p in parnjakZaZamenu)
                                    {
                                        
                                    
                                    <div class = "ad adzamena">
                                    <div class = "twoCol">
                                    <div class = "pola oneMob">      
                                        <div class = "mobPicture"><img src ="@o.picture1"></div>
                                        
                                        <div class = "mobInfo">
                                                        <div>@o.mojMobilni.brand @o.mojMobilni.model</div>
                                        </div>
                                            </div>
                                            <div class = "pola oneMob">
                                            
                                                    <div class = "mobPicture"><img src ="@p.picture1"></div>
                                                    <div class = "mobInfo">
                                                        <div>@p.mojMobilni.brand @p.mojMobilni.model</div>
                                                    </div>
                                            </div>
                                            </div>
                                            <div class = "buttons">
                                                <button class="btn btn-primary" asp-page="ViewMobilni" asp-route-id="@p.id">Pogledaj</button>
                                            </div>
                                        </div>
                                }
                                }
                            }
                        }

                    
                    </div>
                </div>
            </div>

            @if(Model.user.admin==true)
            {
                <div id="ZaPrihvatanje" class="tabcontent">
                    <div id="myDIV">
                        <div id = " content" class="content">
                            <div class = "twoCol">
                                <div class = "pola">
                                    <p>Korisnici za prihvatanje</p>
                                    @if(Model.NeprihvaceniKorisnici.Count == 0)
                                    {
                                        <p>Ne postoji nijedan korisnik koga treba odobriti.</p>
                                    }
                                    else
                                    {
                                        @foreach (var Korisnik in Model.NeprihvaceniKorisnici)
                                        {
                                            <div class = "ad">
                                            <div class = "oneMob">
                                                    <div class = "mobPicture"><img src ="@Korisnik.picture"></div>
                                                    <div class = "mobInfo">
                                                            <div>Username: @Korisnik.username</div>
                                                            <div>Ime: @Korisnik.name @Korisnik.surname</div>
                                                            <div>Telefon: @Korisnik.brojTelefona</div>
                                                    </div>
                                            </div>
                                            <div class = "buttons">
                                                <button class="btn btn-primary" asp-page-handler="PrihvatiKorisnika" asp-route-idKorisnikaZaPrihvatanje="@Korisnik.id" asp-route-idAdministratora="@Model.id">Prihvati</button>
                                                <button class="btn btn-primary" asp-page-handler="OdbijKorisnika" asp-route-idKorisnikaZaBrisanje="@Korisnik.id" asp-route-idAdministratora="@Model.id">Odbij</button>  
                                            </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class = "pola">
                                    <p>Oglasi za prihvatanje</p>
                                    @if(Model.NeprihvaceniOglasi.Count == 0)
                                    {
                                        <p>Ne postoji nijedan oglas koji treba odobriti.</p>
                                    }
                                    else{
                                        @foreach (var Oglas in Model.NeprihvaceniOglasi)
                                        {
                                            <div class = "ad">
                                            <div class = "oneMob">
                                                    <div class = "mobPicture"><img src ="@Oglas.picture1"></div>
                                                    <div class = "mobInfo">
                                                            <div>Model: @Oglas.mojMobilni.model @Oglas.mojMobilni.brand</div>
                                                            <div>Vlasnik: @Oglas.user.username</div>
                                                    </div>
                                            </div>
                                            <div class = "buttons">
                                                <button class="btn btn-primary" asp-page-handler="PrihvatiOglas" asp-route-idOglasa="@Oglas.id" asp-route-idAdm="@Model.id">Prihvati</button>
                                                <button class="btn btn-primary" asp-page-handler="OdbijOglas" asp-route-idOglasa="@Oglas.id" asp-route-idAdm="@Model.id">Odbij</button>
                                            </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    
    <style>        
        @@media only screen and (max-width: 600px) {
            .main {
                flex-direction: column !important;
            }
            .userInfo {
                width: 100% !important;
            }
            .userInfo img {
                width: 60px;
            }
            .user-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
            }
            .button-wrapper {
                flex-direction: row !important;
                width: 100% !important;
                margin-top: 20px;
            }
            .tab {
                width: 100% !important;
            }
            .ad {
                margin: 0 auto !important;
            }
        }
        .adzamena {
            width: 100% !important;
        }
        .menu-btn {
            width: 80%;
        }
        .btn:hover {
            transform: scale(1.05);
            background: #4b423b;
        }
        .button-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .button-wrapper button {
                width: 100%;
            
            }

        .btn {
            margin-top: 10px;
            transition: 0.3s;
            background: #4b423b;
            border: #4b423b;
            transition: 0.4s;
            border-radius: 25px;
            padding: 8px 16px;
        }
        .profilna {
            border-radius: 50%;
            width: 100px;
        }
        .buttons {
            display: flex;
            margin-top: 5px;
            width: 55%;
            flex-direction: column;
            margin: 0 auto;
        }
        .buttons > button
        {
            text-align: center;
        }
        .toColumn
        {
            display: flex;
            flex-direction: column;
        }
        .pola
        {
            width: 100%;
        }
        #myDIV
        {
            width: 100%;
            margin-bottom: 50px;
        }

        .content 
        {
            display: flex;
            flex-wrap: wrap;
        }
                
        .tab {
        overflow: hidden;
        width: 70%;
        
        }

        .tablinks {
            cursor: pointer;
            color: #1b1b1b;
            padding: 11px 14px;
            font-size: 15px;
            border-radius: 20px;
        }

        .tab div.active {
        color: #1b1b1b;
        border: 1px solid #1b1b1b;
        font-weight: bolder;
        }

        .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        }
        .kontejnerZaKorisnike, .kontejnerZaOglase
        {
            display: flex;
            flex-direction: row;
        }
        
        .dugmeOglas
        {
            display: flex;
            flex-direction: row;
            flex-basis: auto;
        }
        .twoCol
        {
            display:flex;
            flex-direction: row;
        }
        .main
        {
            display:flex;
            flex-direction: row;
            width: 80%;
            margin: 0 auto;
        }
        .userInfo
        {
            display:flex;
            flex-direction: column;
            width: 20%;
            align-items: center;
        }
        .oneMob
        {
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        .mobPicture
        {
            height: 100%;
            width: 40%;
           
        }
        img
        {
            height: 100%; 
            width: 100%; 
            object-fit: contain;
            border-radius: 5px;
        }
        .mobInfo
        {
            display:flex;
            text-align: center;
            flex-direction: column;
            margin-left: 10px;
        }
        .userMessages
        {
            padding-left: 10px;
            width: 100%;
        }
        .oneMessage
        {
            border: 1px solid darkgray;
            border-radius: 5px;
            margin: 10px;
            display: flex;
            flex-direction: row;
            width: auto;
            padding: 10px;

        }
        .messageButtons
        {
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            align-content: flex-end;
        }
        /*button 
        {
            box-shadow:inset 0px 1px 0px 0px #bbdaf7;
            background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
            background-color:#79bbff;
            border-radius:6px;
            border:1px solid darkgray;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            padding:6px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #528ecc;
            margin:2px
        }
        /*button:hover 
        {
	       background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	        background-color:#378de5;
        }*/
        .ad
        {
            width: 200px;
            padding: 2px;
            margin: 15px;
            padding: 5px;
            border-radius: 5px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .tabButtons
        {   
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .btn
      {
        margin: 2px;
      }
        #navbar {
            background-color: #333;
            position: fixed;
            top: -50px;
            width: 100%;
            display: block;
            transition: top 0.3s;
            }

        #navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 15px;
            text-decoration: none;
            font-size: 17px;
            }

        #navbar a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>

    <script>
    function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() 
    {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) 
        {
            document.getElementById("navbar").style.top = "0";
        }
        else 
        {
            document.getElementById("navbar").style.top = "-50px";
        } 
    }
    </script>
</form>

